@import 'layout/navigations';
@import 'variables/colors';
@import 'layout/theme';
@import 'variables/variables';
@import "variables/mixins";
html * {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.container {
  @include calcLayout(map-get($container, "height"), map-get($container, "margin-h"), map-get($container, "width"), map-get($container, "margin-w"));
}
.profile-wrapper {
  display: flex;
  justify-content: center;
  .avatar-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    .verified-profile {
      font-size: 1.5rem;
      color: green;
      position: absolute;
      left: 126px;
    }
  }
}