@import '../variables/colors';
#footer{
  background: $white;
  height: 10vh;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    align-self: center;
    li {
      list-style: none;
      padding: 1rem;
      a {
        color: $onyx;
        text-decoration: none;
        i {
          color: rgba($color: $onyx, $alpha: .85);
        }
      }
    }
  }
}