@import '../variables/colors';
#nav-bar{
  background: $white;
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  .logo {
    padding: 1rem;
    align-self: center;
  }
  ul {
    align-self: center;
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      padding: 1rem;
      a {
        color: $onyx;
        text-decoration: none;
        i {
          color: rgba($color: $onyx, $alpha: .75);
          transition-duration: .5s;
          &:hover{
            color: rgba($color: $onyx, $alpha: .9);
          }
        }
      }
    }
  }
}